/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
background-image: var(--background-image);
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-color: var(--background-color);
font-family: var(--font-family);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display:grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
}

.rec::after{
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow:0px 0px 4px 2px var(--accent-color);
  top: 16px;
  position: absolute;
  margin-inline-start: 347px
  
}

.rec::before{
  content:"REC";
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  top: 10px;
  margin-inline-start: 304px;
}

.decorated-zone{
position:relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
position: absolute;
}
.decorated-zone::before{
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  top:10px;
  right: 10px;
  position: absolute;
}

.decorated-zone::after{
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  bottom: 10px;
  left:10px;
position: absolute;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-inline-end: 10px;
  grid-row:1;
  margin-block-start: 73px;
  line-height: 18px;
  }
  .header__theme-menu-list{
   display: flex;
   flex-direction: column;
   gap: 9px;
   place-items: center;
   
  }

  .header__theme-menu-item{
    color: var(--accent-color);
    font-weight: 400;
    font-size: 18px;
    font-family: var(--font-family);
   
  }
  .header__theme-menu-button{
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    text-transform: lowercase; 
    padding:4px 12px; 
  }

  .header__theme-menu-button:hover{
    border: 1px solid #FF007066;
  }

  .header__theme-menu-button:focus-visible{
    text-decoration: underline var(--accent-color) 1px;
    text-underline-offset: 3px;
    outline: none;
  }

  .header__theme-menu-button:focus{
    outline: none;
  }

  .header__theme-menu-button_active{
  border: var(--accent-color) 1px solid;
  
  }

  .header_title{
    font-family: var(--font-family);
    font-weight: 700px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    color: var(--header-color);
    text-shadow: 4px 4px 0 var(--accent-color);
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    display: block;
    grid-row:2;
  
  }
  .header_main_text{
    
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-end: 10px;
    grid-row:3;
  }
  .title-decor{
  background-color: var(--accent-color);
  color: var(text-color);
    font-weight: 700;
    font-size: 18px;
    font-family: var(--font-family);
  }
  .title-decor_thin{
    background-color: var(--accent-color);
    color: var(--text-color);
      font-weight: 400;
      font-size: 18px;
      font-family: var(--font-family);
      line-height: 23.4px;
      margin-block-start: 2px;
    }
      
  /*main*/
  .main {
    display: grid;
    grid-column:1;
    grid-row:4;
    gap: 30px;
    background-color: var(--background-color);
    padding-block-start: 20px;
  }

  .section {
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 20px;
    align-content: flex-start;
    margin-block-start:20px;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    background-color: var(--background-color);
  }

  .section-why-question{
color: var(--accent-color);
font-size: 18px;
font-weight: 700px;
font-family: var(--font-family);
  }

  .main-section-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main-section-text{
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  }
  
  .link {
    text-decoration: none;
    text-shadow: 1px 1px 0 var(--accent-color);
    color:var(--main-text-color);
  }

  .link:hover{
    border-block-end: 2px solid var(--main-text-color);
  }

  .link:focus{
    outline:none;
  }

  .link:focus-visible{
    outline: 1px solid var(--main-text-color);
  }
  .last{
    row-gap: 11px;
  }

.image{
  width: 100%;
  height: 100%;
}

.images-gallery{
  display: grid;
  grid-template-columns: column;
  row-gap: 10px;
margin-block-end: 40px;
}


.footer{
  display: flex;
  min-block-size: 668px;
  block-size: 100vh;
  place-items: center;
  position:relative;

}
.footer_title {
  font-family: var(--font-family);
    font-weight: 700px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    color: var(--header-color);
    text-shadow: 2px 2px 0 var(--accent-color);
    margin-inline-start: 14px;
    margin-inline-end: 10px;
    
}
/*

.decorated-zone-repeat{
  position:relative;
  }
  
  .decorated-zone-repeat::before,
  .decorated-zone-repeat::after {
    content: "";
    inline-size: 25px;
    block-size: 25px;
  position: absolute;
  }
  .decorated-zone-repeat::before{
    border-block-start: 1px solid var(--accent-color);
    border-inline-end: 1px solid var(--accent-color);
    top:30px;
    right: 10px;
    position: absolute;
  }
  
  .decorated-zone-repeat::after{
    border-inline-start: 1px solid var(--accent-color);
    border-block-end: 1px solid var(--accent-color);
    bottom: 10px;
    left:10px;
  position: absolute;
  }
  */