/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --header-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #000028;
  --main-text-color: #f1b2ce;
  --button-hover-col: #ff007066;
  --background-color: #000028;
  --background-image: url(/images/cover-image-dark.png);
  --font-family: "IBM Plex mono", "Arial", sans-serif;
  --font-size-com: 18px;
  --font-weight-min: 400;
  --font-weight-max: 700;
  --indent-com: 10px;
  --indent-add: 20px;
  --gap-com:10px;
  --gap-add:20px;
  
}
